# System
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
venv/
__pycache__/
*.py[cod]

# Database
*.sqlite3
*.db

# Environment
.env
.venv
env/


# Temporary/Debug
debug_reg.py

# Binaries
ngrok
